@use "../helpers/" as *;

.result {
  padding: fluid(30, 20) fluid(40, 15);
  line-height: 1.4;

  &__titles {
    position: relative;
    display: grid;
    align-items: center;
    column-gap: fluid(30, 10);
    grid-template-columns: 50% auto auto;

    @include middle {
      column-gap: fluid(150, 10);
    }

    @include mobile {
      column-gap: fluid(200, 5);
    }
  }

  &__block {
    &:not(:last-child) {
      border-bottom: rem(2) solid var(--color-blue-dark);
      padding-bottom: fluid(20, 10);
    }
  }

  &__popup {
    position: absolute;
    top: 100%;
    left: 0;
    background: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
  }

  &__title {
    font-weight: 600;
    align-items: center;
    font-size: fluid(20, 10);

    &--icon-info {
      display: inline-flex;
      column-gap: rem(10);
      cursor: pointer;

      @include mobile {
        column-gap: rem(5);
      }

      svg {
        color: var(--color-pumpkin);

        @include mobile {
          width: rem(16);
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 10);
    max-height: fluid(580, 380);
    padding-left: rem(3);
    padding-right: rem(15);
    overflow-y: auto;

    @include tablet {
      padding-left: rem(2);
      padding-right: rem(8);
    }

    &::-webkit-scrollbar {
      width: rem(5);

      @include tablet {
        width: rem(3);
      }
    }

    &::-webkit-scrollbar-thumb {
      border-radius: rem(10);
      background: var(--color-blue-dark);
    }
  }

  &__item {
    display: grid;
    border-radius: rem(15);
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(4, 25%);
    background-color: var(--color-background);
    box-shadow: var(--shadow);
    padding: fluid(17, 12) fluid(20, 10);

    @include mobile {
      justify-content: none;
      column-gap: rem(1);
    }
  }

  &__name {
    grid-column: 1 / span 2;
    font-size: fluid(20, 10);
  }

  &__amount {
    font-size: fluid(20, 10);
  }

  &__status {
    line-height: 0;
    background-position: 52%;
    background-repeat: no-repeat;
    border-radius: 50%;
    --size: #{rem(56)};

    @include square(var(--size));

    @include tablet {
      --size: #{rem(40)};
    }

    @include mobile {
      --size: #{rem(24)};
      background-size: rem(20);
    }

    &--success {
      background-color: var(--color-success);
      background-image: url("../../icons/success.svg");
    }

    &--warning {
      background-color: var(--color-warning);
      background-image: url("../../icons/warning.svg");
    }

    &--danger {
      background-color: var(--color-danger);
      background-image: url("../../icons/danger.svg");
    }
  }

  &__amount,
  &__status {
    justify-self: center;
  }

  &__output {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(15);
  }

  &__total {
    display: flex;
    column-gap: fluid(10, 5);
    font-weight: 600;
    font-size: fluid(20, 14);

    @include mobile-s {
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(5);
    }

    &-amount {
      background-color: var(--color-pumpkin);
      color: var(--color-white);
      padding-inline: rem(10);
    }
  }

  &__note {
    font-size: rem(14);
    color: var(--color-black-disabled);
  }

  &__link {
    color: var(--color-blue-dark);
    font-size: rem(14);
    text-decoration-line: underline !important;
    text-decoration-thickness: 9%;
    text-underline-offset: 25%;
    transition-duration: var(--transitiom-duration);

    &:hover {
      color: var(--color-pumpkin);
    }
  }
}
