@use 'helpers' as *;

body {
  font-family: var(--font-family-base);
  line-height: 1.4;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-accent);
  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transitiom-duration);
}

a {
  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed;
  outline-offset: rem(4);
  transition-duration: 0 !important;
  
}