@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/Coolvetica-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #FFFFFF;
  --color-background: #F4F8FF;
  --color-pumpkin: #FF6600;
  --color-total-black: #000000;
  --color-black: #222222;
  --color-blue-dark: #1D346A;
  --color-blue-sky: #D1E2FF;
  --color-success: #D6F3E9;
  --color-warning: #FCF0DB;
  --color-danger: #FDE1E1;
  --color-black-disabled: rgba(34, 34, 34, 0.60);
  --shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
  --text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.40);
  --font-family-base: "Onest", sans-serif;
  --font-family-accent: "Coolvetica", sans-serif;
  --container-width: 100rem;
  --container-padding-x: 1.875rem;
  --transitiom-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 76.25rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  line-height: 1.4;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-accent);
  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transitiom-duration);
}

a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-black);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  letter-spacing: 0.125rem;
}
@media (width <= 47.99875rem) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 6.25rem 12.5rem;
  }
  @keyframes scrolling-header {
    to {
      box-shadow: 0 0 1rem 0 var(--color-total-black);
    }
  }
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: clamp(0.625rem, -0.6017156863rem + 5.0326797386vw, 5.4375rem);
  padding-inline: clamp(0.625rem, 0.1789215686rem + 1.8300653595vw, 2.375rem);
  padding-block: clamp(0.8125rem, 0.5894607843rem + 0.9150326797vw, 1.6875rem);
}
@media (width <= 47.99875rem) {
  .header__inner {
    justify-content: space-between;
    background: var(--color-white);
  }
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-blue-dark);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu {
  display: flex;
  align-items: center;
}
@media (width <= 47.99875rem) {
  .header__menu {
    flex-direction: column;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: clamp(0.3125rem, -0.993872549rem + 5.3594771242vw, 5.4375rem);
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 2.25rem;
  }
}
.header__menu-link {
  color: var(--color-blue-dark);
  font-size: clamp(0.6875rem, 0.2254901961rem + 1.8954248366vw, 2.5rem);
  font-weight: 600;
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
    color: var(--color-white);
  }
}
.header__menu-link:hover {
  color: var(--color-pumpkin);
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-black);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-pumpkin);
  }
}
.burger-button:active {
  color: var(--color-pumpkin);
}
.burger-button.is-active {
  color: var(--color-white);
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.1em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  background-color: currentColor;
  width: 100%;
  height: 0.125rem;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: flex-end;
}

.logo {
  font-size: clamp(1.875rem, 1.5882352941rem + 1.1764705882vw, 3rem);
  color: var(--color-pumpkin);
  font-family: var(--font-family-accent);
  font-weight: 400;
}

.preview {
  height: 100vh;
  line-height: 1.4;
  max-height: 60.625rem;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/preview/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding-block: clamp(5rem, 3.8848039216rem + 4.5751633987vw, 9.375rem);
}
.preview__inner {
  width: 100%;
}
.preview__body {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.3860294118rem + 0.9803921569vw, 1.5625rem);
  max-width: 70.625rem;
  color: var(--color-white);
  text-shadow: var(--text-shadow);
}
.preview__title {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}
.preview__title .is-orange {
  color: var(--color-pumpkin);
}
.preview__description {
  font-size: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
}

.calculator {
  background-color: var(--color-blue-dark);
  padding-bottom: clamp(6.25rem, 4.6568627451rem + 6.5359477124vw, 12.5rem);
  padding-top: clamp(1.875rem, 1.556372549rem + 1.3071895425vw, 3.125rem);
}
.calculator__inner {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.875rem, 1.3970588235rem + 1.9607843137vw, 3.75rem);
}
.calculator__title {
  font-size: clamp(2.5rem, 2.1176470588rem + 1.568627451vw, 4rem);
  color: var(--color-white);
}
.calculator__windows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
}
@media (width <= 75.06125rem) {
  .calculator__windows {
    display: flex;
    row-gap: 1.25rem;
    flex-direction: column;
  }
}
.calculator__result {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  padding: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem) clamp(1.875rem, 1.7156862745rem + 0.6535947712vw, 2.5rem);
  border-radius: 0.625rem;
  color: var(--color-blue-dark);
}

.form {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  padding: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem) clamp(0.9375rem, 0.5392156863rem + 1.6339869281vw, 2.5rem);
  border-radius: 0.625rem;
  color: var(--color-blue-dark);
  align-self: flex-start;
}
@media (width <= 75.06125rem) {
  .form {
    align-self: auto;
  }
}
.form__section {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  align-self: stretch;
}
.form__section:not(:last-of-type) {
  border-bottom: 0.125rem solid var(--color-blue-dark);
  padding-bottom: 1.25rem;
}
@media (width <= 30.06125rem) {
  .form__section {
    align-self: auto;
  }
}
.form__legend {
  margin-bottom: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  font-size: clamp(0.75rem, 0.6225490196rem + 0.522875817vw, 1.25rem);
  font-weight: 600;
  background-color: var(--color-pumpkin);
  color: var(--color-white);
  padding: 0.375rem 0.5rem;
}
@media (width <= 90.06125rem) {
  .form__legend {
    padding: 0.25rem 0.375rem;
  }
}
.form__text {
  font-weight: 600;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}
.form__group--3-rows {
  display: flex;
  flex-direction: column;
  column-gap: clamp(1.5625rem, 1.3235294118rem + 0.9803921569vw, 2.5rem);
  row-gap: 0.625rem;
  flex-wrap: wrap;
}
.form__select {
  appearance: none;
  background: #d6e3ff;
  color: #002f6c;
  padding: 0.375rem 2.1875rem 0.375rem 0.75rem;
  font-size: clamp(0.75rem, 0.6225490196rem + 0.522875817vw, 1.25rem);
  border-radius: 0.625rem;
  border: none;
  width: 100%;
  cursor: pointer;
}
@media (width <= 30.06125rem) {
  .form__select {
    width: 100%;
  }
}
.form__select-wrapper {
  position: relative;
}
.form__select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  background: url("../icons/arrow-dropdown.svg") no-repeat center;
  background-size: contain;
  width: 0.75rem;
  height: 0.75rem;
  pointer-events: none;
}
.form__buttons {
  display: flex;
  column-gap: clamp(0.625rem, 0.5453431373rem + 0.3267973856vw, 0.9375rem);
}
.form__button {
  border: none;
  border-radius: 0.625rem;
  background-color: var(--color-blue-sky);
  padding: 0.375rem 1.5625rem;
  color: var(--color-blue-dark);
  font-size: clamp(0.75rem, 0.6225490196rem + 0.522875817vw, 1.25rem);
  line-height: 1.4;
}
.form__button.is-active {
  background-color: var(--color-blue-dark);
  color: var(--color-background);
  font-weight: 600;
  cursor: default;
}
.form__field {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
.form__input {
  -webkit-appearance: none;
  background: #d6e3ff;
  color: #002f6c;
  padding: 0.375rem 1.875rem 0.375rem 0.75rem;
  font-size: clamp(0.75rem, 0.6225490196rem + 0.522875817vw, 1.25rem);
  border-radius: 0.625rem;
  border: none;
  width: 100%;
  cursor: pointer;
}
.form__input::placeholder {
  color: #002f6c;
}
.form__label {
  font-weight: 600;
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
}
.form__label--star {
  color: var(--color-pumpkin);
}
.form__submit {
  background-color: var(--color-pumpkin);
  border: none;
  color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0.53125rem 0.78125rem;
  border-radius: 0.625rem;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  font-weight: 600;
  justify-content: center;
}
.form__checkboxes {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
.form__checkbox {
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  column-gap: 0.625rem;
  width: 100%;
}
@media (width <= 90.06125rem) {
  .form__checkbox {
    column-gap: 0.375rem;
  }
}
@media (any-hover: hover) {
  .form__checkbox:hover {
    color: var(--color-pumpkin);
  }
  .form__checkbox:hover .form__checkbox-input {
    border-color: var(--color-pumpkin);
  }
}
.form__checkbox:active {
  color: var(--color-pumpkin);
}
.form__checkbox:active .form__checkbox-input {
  border-color: var(--color-pumpkin);
}
.form__checkbox-input {
  --size: 1.4375rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  margin: 0;
  background-color: var(--color-blue-sky);
  border-radius: 0.25rem;
}
@media (width <= 90.06125rem) {
  .form__checkbox-input {
    --size: 1.125rem;
  }
}
.form__checkbox-input:not(:checked)::after {
  opacity: 0;
  visibility: hidden;
}
.form__checkbox-input::after {
  content: "✔";
  color: var(--color-blue-dark);
  transition-duration: var(--transition-duration);
}
.form__checkbox-label {
  font-size: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  font-weight: 600;
}

.result {
  padding: clamp(1.25rem, 1.1703431373rem + 0.3267973856vw, 1.5625rem) clamp(0.9375rem, 0.5392156863rem + 1.6339869281vw, 2.5rem);
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.result__placeholder {
  text-align: center;
  font-size: clamp(1.25rem, 0.9950980392rem + 1.045751634vw, 2.25rem);
  font-weight: 600;
}
.result__titles {
  position: relative;
  display: grid;
  align-items: center;
  column-gap: clamp(0.625rem, 0.306372549rem + 1.3071895425vw, 1.875rem);
  grid-template-columns: 50% auto auto;
}
@media (width <= 75.06125rem) {
  .result__titles {
    column-gap: clamp(0.625rem, -1.6053921569rem + 9.1503267974vw, 9.375rem);
  }
}
@media (width <= 47.99875rem) {
  .result__titles {
    column-gap: clamp(0.3125rem, -2.7941176471rem + 12.7450980392vw, 12.5rem);
  }
}
.result__block:not(:last-child) {
  border-bottom: 0.125rem solid var(--color-blue-dark);
  padding-bottom: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
.result__popup {
  position: absolute;
  top: 100%;
  right: 1.25rem;
  background: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}
.result__title {
  font-weight: 600;
  align-items: center;
  font-size: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
.result__title--icon-info {
  display: inline-flex;
  column-gap: 0.625rem;
  cursor: pointer;
}
@media (width <= 47.99875rem) {
  .result__title--icon-info {
    column-gap: 0.3125rem;
  }
}
.result__title--icon-info svg {
  color: var(--color-pumpkin);
}
@media (width <= 47.99875rem) {
  .result__title--icon-info svg {
    width: 1rem;
  }
}
.result__list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  max-height: clamp(23.75rem, 21.2009803922rem + 10.4575163399vw, 33.75rem);
  padding-left: 0.1875rem;
  padding-right: 0.9375rem;
  overflow-y: auto;
}
@media (width <= 63.99875rem) {
  .result__list {
    padding-left: 0.125rem;
    padding-right: 0.5rem;
  }
}
.result__list::-webkit-scrollbar {
  width: 0.3125rem;
}
@media (width <= 63.99875rem) {
  .result__list::-webkit-scrollbar {
    width: 0.1875rem;
  }
}
.result__list::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background: var(--color-blue-dark);
}
.result__item {
  display: grid;
  border-radius: 0.9375rem;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(4, 25%);
  background-color: var(--color-background);
  box-shadow: var(--shadow);
  padding: clamp(0.75rem, 0.6703431373rem + 0.3267973856vw, 1.0625rem) clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
@media (width <= 47.99875rem) {
  .result__item {
    justify-content: none;
    column-gap: 0.0625rem;
  }
}
.result__name {
  grid-column: 1/span 2;
  font-size: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
.result__amount {
  font-size: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
.result__status {
  line-height: 0;
  background-position: 52%;
  background-repeat: no-repeat;
  border-radius: 50%;
  --size: 3.5rem;
  width: var(--size);
  height: var(--size);
}
@media (width <= 63.99875rem) {
  .result__status {
    --size: 2.5rem;
  }
}
@media (width <= 47.99875rem) {
  .result__status {
    --size: 1.5rem;
    background-size: 1.25rem;
  }
}
.result__status--success {
  background-color: var(--color-success);
  background-image: url("../icons/success.svg");
}
.result__status--warning {
  background-color: var(--color-warning);
  background-image: url("../icons/warning.svg");
}
.result__status--danger {
  background-color: var(--color-danger);
  background-image: url("../icons/danger.svg");
}
.result__amount, .result__status {
  justify-self: center;
}
.result__output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.9375rem;
}
.result__total {
  display: flex;
  column-gap: clamp(0.3125rem, 0.2328431373rem + 0.3267973856vw, 0.625rem);
  font-weight: 600;
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
}
@media (width <= 30.06125rem) {
  .result__total {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.3125rem;
  }
}
.result__total-amount {
  background-color: var(--color-pumpkin);
  color: var(--color-white);
  padding-inline: 0.625rem;
}
.result__possible {
  display: flex;
  column-gap: clamp(0.3125rem, 0.2328431373rem + 0.3267973856vw, 0.625rem);
  font-weight: 600;
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
}
@media (width <= 30.06125rem) {
  .result__possible {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.3125rem;
  }
}
.result__possible-amount {
  background-color: var(--color-pumpkin);
  color: var(--color-white);
  padding-inline: 0.625rem;
}
.result__note {
  font-size: 0.875rem;
  color: var(--color-black-disabled);
}
.result__link {
  color: var(--color-blue-dark);
  font-size: 0.875rem;
  text-decoration-line: underline !important;
  text-decoration-thickness: 9%;
  text-underline-offset: 25%;
  transition-duration: var(--transitiom-duration);
}
.result__link:hover {
  color: var(--color-pumpkin);
}

.sources {
  color: var(--color-blue-dark);
}
.sources__inner {
  padding-bottom: clamp(6.25rem, 4.6568627451rem + 6.5359477124vw, 12.5rem);
  padding-top: clamp(1.875rem, 1.556372549rem + 1.3071895425vw, 3.125rem);
  display: flex;
  flex-direction: column;
  row-gap: clamp(2.5rem, 2.181372549rem + 1.3071895425vw, 3.75rem);
}
.sources__title {
  font-size: clamp(2.5rem, 2.1176470588rem + 1.568627451vw, 4rem);
  letter-spacing: 0.12rem;
}
.sources__description {
  font-size: clamp(1.25rem, 0.9950980392rem + 1.045751634vw, 2.25rem);
  letter-spacing: 0.0675rem;
}

.documents {
  background-color: var(--color-blue-sky);
  color: var(--color-blue-dark);
}
.documents__inner {
  padding-bottom: clamp(6.25rem, 4.6568627451rem + 6.5359477124vw, 12.5rem);
  padding-top: clamp(1.875rem, 1.556372549rem + 1.3071895425vw, 3.125rem);
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.875rem, 1.3970588235rem + 1.9607843137vw, 3.75rem);
}
.documents__title {
  font-size: clamp(2.5rem, 2.1176470588rem + 1.568627451vw, 4rem);
  letter-spacing: 0.12rem;
}
.documents__subtitles {
  display: flex;
  justify-content: space-between;
  padding-inline: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem) clamp(1.25rem, -0.4068627451rem + 6.7973856209vw, 7.75rem);
}
.documents__subtitles h3 {
  font-size: clamp(0.875rem, 0.5245098039rem + 1.4379084967vw, 2.25rem);
  font-family: var(--font-family-base);
  font-weight: 400;
  letter-spacing: 0.0675rem;
  color: var(--color-total-black);
}
.documents__list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem);
}
.documents__item {
  display: flex;
  padding-block: clamp(1.375rem, 1.0245098039rem + 1.4379084967vw, 2.75rem);
  padding-inline: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem) clamp(0.625rem, -1.7647058824rem + 9.8039215686vw, 10rem);
  background-color: var(--color-background);
  box-shadow: var(--shadow);
  border-radius: 1.875rem;
  align-items: center;
  justify-content: space-between;
}
.documents__content {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.375rem, 0.3112745098rem + 0.2614379085vw, 0.625rem);
}
.documents__content-title {
  font-size: clamp(1rem, 0.681372549rem + 1.3071895425vw, 2.25rem);
  font-weight: 600;
  font-family: var(--font-family-base);
}
.documents__content-date {
  color: var(--color-black-disabled);
  font-size: clamp(0.75rem, 0.5588235294rem + 0.7843137255vw, 1.5rem);
}
.documents__download svg {
  width: clamp(2.5rem, 1.3529411765rem + 4.7058823529vw, 7rem);
  height: clamp(2.5rem, 1.3529411765rem + 4.7058823529vw, 7rem);
}

.about {
  color: var(--color-blue-dark);
}
.about__inner {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.875rem, 1.3970588235rem + 1.9607843137vw, 3.75rem);
  padding-block: clamp(1.875rem, 1.556372549rem + 1.3071895425vw, 3.125rem);
}
.about__title {
  font-size: clamp(2.5rem, 2.1176470588rem + 1.568627451vw, 4rem);
  letter-spacing: 0.12rem;
}
.about__description {
  font-size: clamp(1.25rem, 0.9950980392rem + 1.045751634vw, 2.25rem);
  font-family: var(--font-family-base);
  letter-spacing: 0.0675rem;
}
.about__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6.25rem;
}
@media (width <= 90.06125rem) {
  .about__list {
    column-gap: 3.125rem;
    row-gap: 1.25rem;
    flex-wrap: wrap;
  }
}
@media (width <= 47.99875rem) {
  .about__list {
    flex-direction: column;
  }
}

.select {
  position: relative;
}

.help {
  color: var(--color-blue-dark);
}
.help__inner {
  padding-bottom: clamp(6.25rem, 4.6568627451rem + 6.5359477124vw, 12.5rem);
  padding-top: clamp(1.875rem, 1.556372549rem + 1.3071895425vw, 3.125rem);
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.25rem, 0.612745098rem + 2.614379085vw, 3.75rem);
}
.help__title {
  font-size: clamp(2.5rem, 2.1176470588rem + 1.568627451vw, 4rem);
  letter-spacing: 0.12rem;
}
.help__content {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.9375rem, 0.6985294118rem + 0.9803921569vw, 1.875rem);
}
.help__description {
  font-size: clamp(1rem, 0.681372549rem + 1.3071895425vw, 2.25rem);
  letter-spacing: 0.0675rem;
}
.help__list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: clamp(0.625rem, 0.3223039216rem + 1.2418300654vw, 1.8125rem);
}
.help__link {
  position: relative;
  width: 100%;
}
.help__link-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1.5625rem;
}
.help__link-overlay {
  position: absolute;
  background: rgba(255, 102, 0, 0.8);
  width: 100%;
  bottom: 0;
  padding-inline: clamp(0.625rem, 0.3860294118rem + 0.9803921569vw, 1.5625rem);
  padding-block: clamp(0.3125rem, 0.2647058824rem + 0.1960784314vw, 0.5rem);
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  font-size: clamp(0.875rem, 0.5245098039rem + 1.4379084967vw, 2.25rem);
  letter-spacing: 0.0675rem;
  font-weight: 600;
  color: var(--color-white);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  border-radius: 0.625rem;
  border: none;
  background: var(--color-background);
  padding: 0.625rem 0.9375rem;
  box-shadow: var(--shadow);
  max-width: clamp(15rem, 11.2242647059rem + 15.4901960784vw, 29.8125rem);
}
.popup__title {
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
  font-weight: 600;
}
.popup__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
.popup__item {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.popup__text {
  font-size: clamp(0.75rem, 0.6225490196rem + 0.522875817vw, 1.25rem);
}
.popup__image {
  width: clamp(1.875rem, 1.4607843137rem + 1.6993464052vw, 3.5rem);
}

/*# sourceMappingURL=main.css.map */
