@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/Coolvetica-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #FFFFFF;
  --color-background: #F4F8FF;
  --color-pumpkin: #FF6600;
  --color-black: #222222;
  --color-blue-dark: #1D346A;
  --color-blue-sky: #D1E2FF;
  --color-success: #D6F3E9;
  --color-warning: #FCF0DB;
  --color-danger: #FDE1E1;
  --color-black-disabled: rgba(34, 34, 34, 0.60);
  --shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
  --text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.40);
  --font-family-base: "Onest", sans-serif;
  --font-family-accent: "Coolvetica", sans-serif;
  --container-width: 100rem;
  --container-padding-x: 1.875rem;
  --transitiom-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 76.25rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-base);
  line-height: 1.4;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-accent);
  font-weight: 400;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transitiom-duration);
}

a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed;
  outline-offset: 0.25rem;
  transition-duration: 0 !important;
}

.header {
  letter-spacing: 0.125rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: clamp(1.1875rem, 0.8848039216rem + 1.2418300654vw, 2.375rem);
  padding-block: clamp(0.8125rem, 0.5894607843rem + 0.9150326797vw, 1.6875rem);
}
@media (width <= 47.99875rem) {
  .header__inner {
    justify-content: flex-end;
  }
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-black-disabled);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.header__menu {
  display: flex;
  align-items: center;
}
@media (width <= 47.99875rem) {
  .header__menu {
    flex-direction: column;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 5.4375rem;
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link {
  color: var(--color-blue-dark);
  font-size: 2.5rem;
  font-weight: 600;
}
.header__menu-link:hover {
  color: var(--color-pumpkin);
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-black);
  background-color: transparent;
  border: none;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-pumpkin);
  }
}
.burger-button:active {
  color: var(--color-pumpkin);
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.25em -0.1em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  background-color: currentColor;
  width: 100%;
  height: 0.125rem;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: flex-end;
}

.logo {
  font-size: 3rem;
  color: var(--color-pumpkin);
  font-family: var(--font-family-accent);
  font-weight: 400;
}

.preview {
  height: 100vh;
  line-height: 1.4;
  max-height: 60.625rem;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../../images/preview/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding-block: clamp(5rem, 4.681372549rem + 1.3071895425vw, 6.25rem);
}
.preview__inner {
  width: 100%;
}
.preview__body {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.3860294118rem + 0.9803921569vw, 1.5625rem);
  max-width: 70.625rem;
  color: var(--color-white);
  text-shadow: var(--text-shadow);
}
.preview__title {
  font-family: var(--font-family-base);
  font-weight: 600;
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}
.preview__title .is-orange {
  color: var(--color-pumpkin);
}
.preview__description {
  font-size: clamp(1rem, 0.8725490196rem + 0.522875817vw, 1.5rem);
}

.calculator {
  background-color: var(--color-blue-dark);
  padding-block: clamp(1.875rem, 1.556372549rem + 1.3071895425vw, 3.125rem);
}
.calculator__inner {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.875rem, 1.3970588235rem + 1.9607843137vw, 3.75rem);
}
.calculator__title {
  font-size: clamp(2.5rem, 2.1176470588rem + 1.568627451vw, 4rem);
  color: var(--color-white);
}
.calculator__windows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.25rem;
}
.calculator__result {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  padding: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem) clamp(1.875rem, 1.7156862745rem + 0.6535947712vw, 2.5rem);
  border-radius: 0.625rem;
  color: var(--color-blue-dark);
}

.form {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  padding: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem) clamp(1.875rem, 1.7156862745rem + 0.6535947712vw, 2.5rem);
  border-radius: 0.625rem;
  color: var(--color-blue-dark);
}
.form__section {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  align-self: stretch;
}
.form__section:not(:last-of-type) {
  border-bottom: 0.125rem solid var(--color-blue-dark);
  padding-bottom: 1.25rem;
}
.form__legend {
  margin-bottom: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  font-weight: 600;
  background-color: var(--color-pumpkin);
  color: var(--color-white);
  padding: 0.375rem 0.5rem;
}
@media (width <= 90.06125rem) {
  .form__legend {
    padding: 0.25rem 0.375rem;
  }
}
.form__text {
  font-weight: 600;
}
.form__group--3-cols {
  display: flex;
  column-gap: clamp(1.5625rem, 1.3235294118rem + 0.9803921569vw, 2.5rem);
}
.form__field {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
.form__label {
  font-weight: 600;
}
.form__label--star {
  color: var(--color-pumpkin);
}
.form__submit {
  background-color: var(--color-pumpkin);
  border: none;
  color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0.53125rem 0.78125rem;
  border-radius: 0.625rem;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  font-weight: 600;
  justify-content: center;
}

.result {
  padding: clamp(1.25rem, 1.0906862745rem + 0.6535947712vw, 1.875rem) clamp(1.875rem, 1.7156862745rem + 0.6535947712vw, 2.5rem);
  line-height: 1.4;
}
.result__titles {
  display: grid;
  align-items: center;
  column-gap: clamp(1.25rem, 0.7720588235rem + 1.9607843137vw, 3.125rem);
  grid-template-columns: 50% auto auto;
}
.result__block:not(:last-child) {
  border-bottom: 0.125rem solid var(--color-blue-dark);
  padding-bottom: 1.25rem;
}
.result__title {
  font-weight: 600;
  display: flex;
  column-gap: 0.625rem;
  align-items: center;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}
.result__title--icon-info {
  display: inline-flex;
  color: var(--color-pumpkin);
  cursor: pointer;
}
.result__list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.4656862745rem + 0.6535947712vw, 1.25rem);
}
.result__item {
  display: grid;
  border-radius: 0.9375rem;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(4, 25%);
  background-color: var(--color-background);
  box-shadow: var(--shadow);
  padding: 1.0625rem 1.25rem;
}
.result__name {
  grid-column: 1/span 2;
}
.result__amount, .result__status {
  justify-self: center;
}
.result__output {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.9375rem;
}
.result__total {
  display: flex;
  column-gap: 0.625rem;
  font-weight: 600;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}
.result__total-amount {
  background-color: var(--color-pumpkin);
  color: var(--color-white);
  padding-inline: 0.625rem;
}
.result__note {
  font-size: 0.875rem;
  color: var(--color-black-disabled);
}
.result__link {
  color: var(--color-blue-dark);
  font-size: 0.875rem;
  text-decoration-line: underline !important;
  text-decoration-thickness: 9%;
  text-underline-offset: 25%;
  transition-duration: var(--transitiom-duration);
}
.result__link:hover {
  color: var(--color-pumpkin);
}

/*# sourceMappingURL=main.css.map */
